*{
    margin: 0 auto;
    padding: 0;

}

body{
    background-color: #f1faee;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 350px;
    border: 1px solid grey;
    flex-direction: column;
    justify-content: center;
}

.container__func{
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.btn{
    min-height: 60px;
    min-width: 130px;
    background-color: #8326b9;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #b641fa;
    transition: transform 1s;
}

.btn:hover{
    transform: scale(1.1);
}
.btn:active{
    transform: scale(1);
}

h1{
    font-size: 30px;
    color: #b641fa;
}