*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-tomato{
    min-height: 100vh;
    background: url(img-tomatos/img.jpg);
    background-position: center right 20%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-resolution: 2dppx) {
    .main-tomato {
        background-image: url(img-tomatos/img@2x.jpg);
    }
}

@media screen and (-webkit-device-pixel-ratio: 3) {
    .main-tomato {
        background-image: url(img-tomatos/img@3x.jpg);
    }
}

.container-tomato__block{
    
    font-size: 25px;
    background-color: white;
    min-width: 400px;
    min-height: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media screen and (max-width: 520px) {
        min-width: 300px;
      }
      
}

.section-nav{
    @media screen and (max-width: 420px) {
        transform: scale(0.8);
      }
    @media screen and (max-width: 1190px) {
        order: 1;
      }
}



.container-tomato__block--small{
    min-width:120px;
    padding: 30px;
    border-left: 1px solid grey;
    display: flex;
    align-items: center;
    background-color: white;
}

.container-tomato{
    display: flex;
    margin-top: 20px;
    transition: all 1s;
}

.main-tomato__title{
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    text-align: center;  
    margin-left: 50px; 
    @media screen and (max-width: 471px) {
        font-size: 50px;
        margin-left: 0;
      }
      @media screen and (max-width: 420px) {
        margin-left: 0;
      }
}

.container-tomato:nth-child(1):hover{
    fill: rgb(55, 111, 214);
    transform: scale(1.02);
    color: rgb(104, 142, 211);
    
}

.container-tomato:nth-child(2):hover{
    fill: rgb(17, 130, 64);
    transform: scale(1.02);
    color: rgb(60, 124, 87);
    
}

.container-tomato:nth-child(3):hover{
    fill: rgb(55, 111, 214);
    transform: scale(1.02);
    color: rgb(104, 142, 211);
    
}

.container-tomato:nth-child(4):hover{
    fill: rgb(232, 143, 26);
    transform: scale(1.02);
    color: rgb(231, 179, 110);
    
}