.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &__line{
        min-width: 300px;
        height: 2px;
        background-color: yellow;
    }

    &__icon i{
        color: yellow;
        transform: scale(2);
        margin: 0 20px;
    }

}