*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.63);
}

.form{
    padding: 15px;
    border-bottom: 1px solid grey;
    max-width: 100vw;
    width: 100%;
    background-color: rgb(53, 53, 53);
    color: rgb(219, 219, 219);
}

.form__body{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

#title{
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
}
.title{
    font-size: 30px;
    display: flex;
    padding: 5px;
}

.form__header{
    color: rgb(174, 137, 204);
    font-weight: 200;
    font-size: 28px;
}

.type{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
}

#type{
    padding: 5px;
    margin-left: 5px
}

.type-input{
    font-size: 30px;
}

.film__info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    font-size: 25px;
    cursor: pointer;
}

.star--active{
    color: yellow;
}

.btn{
    margin: 10px;
    padding: 5px 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.753);
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.753);
    transition: background-color 0.5s;
    color: white;
    border-radius: 9px;
}

.btn:hover{
    background-color: rgb(37, 37, 37);
}

img{
    width: 276px;
    height:400px
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.film{
    width: 280px;
    margin: 19px;
    padding-bottom: 5px;
    min-height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    color: white;
}


.film__title{
    text-align: center;
    font-size: 28px;
}

.film__air-date{
    margin-top: 3px;
    font-weight: 200;
}

.nav{
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.description{
    position: fixed;
    max-width: 100vw;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    color: white;
    background-color: rgba(56, 56, 56, 0.726);
}
.desc{
    max-width: 650px;
    width: 100%;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.788);
    color: white;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 200px;
    margin-left: -325px;
}

.film-main-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.name-data-prod{
    padding: 10px;
}

.close{
    cursor: pointer;
    height: 15px;
}

.release{
    padding: 4px 0 10px;
    text-align: center;
}

.other-desc{
    line-height: 30px;
}

.actors{
    line-height: 20px;
}

.plot{
    font-size: 16px;
    letter-spacing: 0.5px;
    opacity: .9;
}

.con{
    display: flex;
}

.loader{
    width: 50px;
    height: 50px;
    border: 8px solid rgba(255, 255, 255, 0.027);
    border-top-color: white;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
    display: none;
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}